body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
}
a.link1{
    color: red;
    font-style: italic;
    font-weight: bold;
}
p[class="para"]{
    color: red;
    font-style: italic;
    font-weight: bold;
}