body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: salmon;
    font-size: 12px;
}
div{
    border: solid 2px salmon;
    font-size: 150%;
    width: 350px;
    margin: 30% 25%;
}
p{
    font-size: 250%;
    border: solid 2px goldenrod;
    width: 80%;
    padding: 5%;
}