body {
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.transform-2d{
    background-color: brown;
    padding: 25px;
    margin: 15px;
    width: 200px;
    transform: translateX(40px) translateY(40px);
}
.transform-3d{
    background-color: darkgreen;
    padding: 25px;
    margin: 15px;
    width: 200px;
    transform: perspective(200px) translate3d(10px, 10px, -50px);
}