body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ccc;
}
:dir(rtl){
    font-size: 1.5em;
    color: red;
}
:lang(fr){
    color: blue;
}
:lang(en){
    color: yellow;
}