@use 'mixins' as *;
//Global
*{
    margin: 0;
    padding: 0;
    //-webkit-user-select: none;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 
}
body{
    height: 100vh;
    background: #111;
}
//Sidebar...
.sidebar-wrapper{
    width: 300px;
    height: 100%;
    background: linear-gradient(midnightblue 2%, #000 100%);
   
    @include mobileView{
        width: 64px;
    }
    &_header{
        display: flex;
        padding: 16px 16px;
        font-size: 1.3em;
        text-align: center;
        background: linear-gradient(#111 5%, #444 100%);
        gap: 15px;
        &_htmlCssTutorial{
            color: white;
            @include mobileView{
                display: none;
            }
        }
    }
    &_list{
        color: white;
        margin-top: 15px;
        &_items{
            display: flex;
            padding: 12px 18px;
            gap: 10px;
            cursor: pointer;
            transition: all 0.5s ease;
            color:  white;
            &_title{
                @include mobileView{
                    display: none;
                }
            }
        }
        &_items:hover{
            background: dodgerblue;
        }
    }
}
