body{
    background-color: #111;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div{
    background-color: seagreen;
    height: 14rem;
    width: 14rem;
    border-radius: 7em;
}
div:hover{
    background-color: orangered;
    transition: 800ms;
}